{% extends 'base.html.twig' %}

{% block title %}Edit Trajet{% endblock %}

{% block body %}
    <h1>Edit Trajet</h1>

    {{ include('trajet/_form.html.twig', {'button_label': 'Update'}) }}

      <a href="{{ app.request.headers.get('referer') }}">Retour</a>

  
{% endblock %}
